@import 'tailwindcss';

@theme inline {
  --color-text-primary: var(--figma-color-text);
  --color-text-secondary: var(--figma-color-text-secondary);
  --color-text-tertiary: var(--figma-color-text-tertiary);
  --color-text-link: var(--figma-color-text-brand);
  --color-text-danger: var(--figma-color-text-danger);

  --color-bg-primary: var(--figma-color-bg);
  --color-bg-secondary: var(--figma-color-bg-secondary);
  --color-bg-tertiary: var(--figma-color-bg-tertiary);
  --color-bg-hover: var(--figma-color-bg-hover);
  --color-bg-selected: var(--figma-color-bg-selected);
  --color-bg-selected-secondary: var(--figma-color-bg-selected-secondary);
  --color-bg-selected-tertiary: var(--figma-color-bg-selected-tertiary);
  --color-bg-selected-hover: var(--figma-color-bg-selected-hover);

  --color-border-primary: var(--figma-color-border);
  --color-border-onselected: var(--figma-color-border-onselected);

  --radius-2: var(--border-radius-2);
  --radius-4: var(--border-radius-4);
  --radius-6: var(--border-radius-6);
}
